body {
    background-color: #e1e6ec;
    margin: 0;
    overflow-y: scroll;
    font-family: Inter, Arial, Helvetica, sans-serif
}
* {
    box-sizing: border-box;
}

.active {
    color: #F00;
}

/* TRAILS CONTAINER CONTENT: Search/Filter */

.trails-container {
    margin-top: 0.5rem;
    margin-left: 0.2rem;
}

.user-interaction {
    padding-bottom: 0.5rem;
}
#search-trail {
    margin-left: 0.2rem;
    width: 15rem;
    height: 2rem;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #8CDFB3;
    border-radius: 3px;
}

#filter-button{
    width: 3.5rem;
    height: 2rem;
    background: #8CDFB3;
    border: 1px solid #4AAE8C;
    border-radius: 5px;
}

.trail{
    border: 1px solid green;
}

.trail-cards {
    margin-bottom: 3.3rem;
}

